$mobile-max-width: 640px;

@mixin mobile {
  @media screen and (max-width: $mobile-max-width) {
    @content
  }
}

@mixin pc {
  @media screen and (min-width: ($mobile-max-width + 1px)) {
    @content
  }
}

.fileUpload {
  width: 900px;
  transition: width .3s ease-in;

  &.hasItems {
    width: 600px;
  }

  @include mobile {
    width: 100% !important;
  }
}

.fileInput {
  margin: 3rem 0;
  width: 100%;
  aspect-ratio: 2 / 1;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all .3s ease-in;
  background-color: #333;
  border-radius: 1em;
  font-size: 28px;
  color: #FFF;

  @include mobile {
    aspect-ratio: 1 / 1;
  }

  .label, .pcLabel, .mobileLabel {
    display: flex;
    flex-direction: row;
    align-items: center;

    .icon {
      margin-right: .5em;
    }
  }

  .pcLabel {
    @include mobile {
      display: none;
    }
  }

  .mobileLabel {
    display: none;
    @include mobile {
      display: block
    }
  }

  .drop, .selector {
    display: inline-block;
  }

  .drop {
    color: #FFF;
  }

  &.droppable {
    box-shadow: 0 0 1em #333;
    background-color: #000;

    .nonDrop {
      visibility: hidden;
      transition: margin-left .2s ease-in, visibility .1s;
      margin-left: -25%;
    }

    .drop {
      color: #FFF;
    }
  }

  &.loading {
    color: #999;
    cursor: no-drop;
  }

  .selector {
    cursor: pointer;
    text-decoration: underline;
    &:hover {
      color: #07beff;
    }
  }
  .rawInput {
    display: none;
  }
}

.gatewaySelectWrapper {
  text-align: center;
  font-size: 13px;
}

.gatewaySelect {
  margin-left: .5em;
  border: none;
  background: none;

  &:focus {
    outline: none;
  }
}

.itemList {
  margin: 1.5rem 0;

  padding: 0;
  list-style: none;
  font-size: 14px;
  color: #333;

  .item {
    margin: 1em 0 0 1em;
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .stateIcon {
    flex: 0 0 auto;
    margin-right: .5em;
    position: relative;
    top: 1px;
  }

  .removeIcon {
    flex: 0 0 16px;
    margin-left: .5em;
    cursor: pointer;
    font-style: normal;
  }
}
